*::before,
*::after,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  background-color: #fcf5e5;
}

.container {
  max-width: 1440px;
  margin: auto;
  padding: 0px 80px;
}

/**************************************/
/* Header*/
/**************************************/
/* Innocent */
header {
  height: 46px;
  align-items: center;
  padding: 20px 0;
  background-color: #ffffffcc;
  display: flex;
  justify-content: center;
}

/**************************************/
/* Section - hero */
/**************************************/
/* WISE */
.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 34px 0 20px;
}
.avatar-container {
  display: flex;
  column-gap: 20px;
}
.new-post-btn {
  background-color: #212121;
  color: #fcf5e5;
  border: none;
  border-radius: 8px;
  width: 149px;
  height: 52px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.new-post-btn:hover {
  opacity: 80%;
}

.avatar {
  width: 190px;
  height: 190px;
}
.avatar-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.avatar-text {
  display: flex;
  flex-direction: column;
  /* gap: 12px; */

  h2 {
    font-weight: 500;
    font-size: 2rem;
    line-height: 100%;
    letter-spacing: 0%;
  }
  p {
    font-weight: 500;
    font-size: 1rem;
    color: #212121;
    opacity: 70%;
    letter-spacing: 0%;
  }
}
.edit-profile-btn {
  text-decoration: none;
  background-color: #fcf5e5;
  color: #212121;
  opacity: 60%;
  border: none;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
}
.edit-profile-btn:hover {
  opacity: 100%;
  transition: all 0.3s ease-in-out;
}

/* MEDIA QUERIES For HERO SECTION */
@media screen and (max-width: 780px) {
  .hero-section {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .avatar-container {
    flex-direction: column;
    align-items: center;
  }
  .avatar {
    width: 150px;
    height: 150px;
  }
  .avatar-info {
    gap: 35px;
  }
  .avatar-text {
    h2 {
      font-size: 1.5rem;
      margin-top: 15px;
    }
    p {
      font-weight: 500;
      font-size: 1rem;
      color: #605c5c;
    }
  }
  .edit-profile-btn {
    align-self: center;
  }
  .new-post-btn {
    margin-top: 15px;
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .avatar {
    width: 80px;
    height: 80px;
  }
  .avatar-text {
    h2 {
      font-size: 1.25rem;
    }
  }
}
/* Section - grid */
hr {
  margin: 20px 0;
  height: 1.5px;
  background-color: #212121;
  opacity: 40%;
  border: none;
}

/*  Osamudiameh  */
section.section-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6em;
  cursor: pointer;
  border-bottom: 2px solid hsl(0, 0%, 70%);
  padding-bottom: 3em;
}
section.section-grid img {
  border-radius: 8px;
  transition: transform 0.6s ease-in-out;
}
.val-thorens__img {
  width: 100%;
}
.val-thorens__img img {
  width: 100%;
}
.section-grid .text-icon {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}
/**************************************/

/**************************************/
/* Footer */
/**************************************/

/* oma */
.site-footer {
  text-align: center;
  padding: 15px 20px;
  margin-top: 70px;
  font-size: 16px;
  color: #212121;
}

@media (max-width: 600px) {
  .site-footer {
    font-size: 12px;
    padding: 10px 15px;
  }
}

/**************************************/
/* Media query */
/**************************************/
@media (max-width: 400px) {
  .container {
    padding: 0 16px;
  }
}

/* kosi */

/* tawa */
